<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newsleep="{{devoured}}">
		{{#if sleep}}Eat Me!{{else}}Available!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
